<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.ico">

	<title>Lista de Movimentos</title>
	
	<script type="text/javascript">
		if (window.location.search) {
			if (window.history && history.pushState) {
				window.history.pushState("", document.title, window.location.pathname);
			} else {
				// Prevent scrolling by storing the page's current scroll offset
				var scroll = {
					top: document.body.scrollTop,
					left: document.body.scrollLeft
				};
				window.location.search = '';
				// Restore the scroll offset, should be flicker free
				document.body.scrollTop = scroll.top;
				document.body.scrollLeft = scroll.left;
			}
		}
	</script>

	<th:block th:insert="includes/include.html :: #head"></th:block>
	
	<style>
		.relSelect {
			display: inline;
			width: auto;
		}
	</style>
	
	<script type="text/javascript">
		var id = 0;
		function setId(novoId) {
			id = novoId;
		}
		function redirecionar() {
			window.location.href="/movimentos/excluir?id="+id;
		}
	</script>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>
			
			
			
			<main class="main-content bgc-grey-100">
				<div id="mainContent">
				
				<div th:if="${!#strings.isEmpty(msgSucessoExcluir)}" class="alert alert-success alert-dismissible fade show" role="alert">
									[[${msgSucessoExcluir}]]
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
				
				
				
				</div>
				
				
				
				
				
				
					<div th:class="|${saldoAtual >= 0 ? 'bgc-light-green-500 ' : ''}c-white p-20|" th:style="${saldoAtual < 0 ? 'background-color: #f44336!important;' : ''}">
						<div class="peers ai-c jc-sb">
							<div class="peer peer-greed">
								<h5>Lista de Movimentos</h5>
<!-- 								<p class="mB-0">Movimentos</p> -->
							</div>
							<div class="peer">
								<h3 class="text-right">[[${T(com.jolteam.financas.util.Util).format(saldoAtual)}]]</h3>
							</div>
						</div>
					</div>
					<div>
						<div class="table-responsive">
							<table class="table table-hover table-bordered bgc-white">
								<thead>
									<tr>
										<th class="bdwT-0">Tipo (Receita/Despesa)</th>
										<th class="bdwT-0">Categoria</th>
										<th class="bdwT-0">Valor</th>
										<th class="bdwT-0">Descrição</th>
										<th class="bdwT-0">Data e Hora</th>
										<th class="bdwT-0">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each = "transacao : ${listatransacao}">
										<td class="fw-600">[[${transacao.tipo}]]</td>
										<td>
											<span th:class="|badge p-10 lh-0 tt-c badge-pill${transacao.tipo.name() == 'DESPESA' ? ' bgc-red-50' : ' bgc-green-50'}|">
												[[${transacao.categoria.nome}]]
											</span>
										</td>
										<td>
											<span th:class="${transacao.tipo.name() == 'DESPESA' ? 'text-danger' : 'text-success'}">
												[[|R$ ${#numbers.formatDecimal(transacao.valor, 1, 'POINT', 2, 'COMMA')}|]]
											</span>
										</td>
										
										<td th:if="${#strings.isEmpty(transacao.descricao)}" style="font-style: italic; color: #72777a">
											Vazia.
										</td>
										<td th:if="${!#strings.isEmpty(transacao.descricao)}">
											[[${transacao.descricao}]]
										</td>
										
										<td>[[${#temporals.format(transacao.data, 'dd/MM/yyyy HH:mm:ss')}]]</td>
										<td>
											<button class="btn btn-sm btn-outline-danger"
												data-toggle="modal" data-target="#confirmacaoExclusao"
												th:onclick="'javascript:setId(\'' +${transacao.id}+ '\');'">
													Excluir
											</button>
										</td>
									</tr>
									<tr th:if="${listatransacao.size() == 0}">
										<td colspan="6"><i>Nenhuma movimentação encontrada.</i></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bd bgc-white c-black p-20" style="margin-bottom: 1rem;">
							<div class="peers ai-c jc-sb ">
								<div class="peer peer-greed">
									<p class="mb-0">Receitas</p>
									<p>Despesas</p>
									<h6 class="mb-0">Saldo Atual</h6>
								</div>
								<div class="peer">
									<p class="text-success mb-0">[[|R$ ${#numbers.formatDecimal(totalReceitas, 1, 'POINT', 2, 'COMMA')}|]]</p>
									<p class="text-danger">[[|R$ ${#numbers.formatDecimal(totalDespesas, 1, 'POINT', 2, 'COMMA')}|]]</p>
									<p class="text-info mb-0">[[|R$ ${#numbers.formatDecimal(saldoAtual, 1, 'POINT', 2, 'COMMA')}|]]</p>
								</div>
							</div>
						</div>
						<div class="bd bgc-white c-black p-20">
							<h6 class="c-grey-900 mb-3">Gerar relatório em PDF</h6>
							
							<div th:if="${!#strings.isEmpty(msgErro)}"
								class="alert alert-danger alert-dismissible fade show"
								role="alert">
								[[${msgErro}]]
								<button type="button" class="close" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							
							<div class="ai-c jc-sb ">
								<form th:object="${relatorioForm}" th:action="@{/relatorio}" method="post">
									<label for="mes">Mês: </label>
									<select class="form-control form-control-sm relSelect mb-2" th:field="*{mes}">
										<option value="1">Janeiro</option>
										<option value="2">Fevereiro</option>
										<option value="3">Março</option>
										<option value="4">Abril</option>
										<option value="5">Maio</option>
										<option value="6">Junho</option>
										<option value="7">Julho</option>
										<option value="8" selected>Agosto</option>
										<option value="9">Setembro</option>
										<option value="10">Outubro</option>
										<option value="11">Novembro</option>
										<option value="12">Dezembro</option>
									</select><br>
									<label for="ano">Ano: </label>
									<select class="form-control form-control-sm relSelect mb-3" th:field="*{ano}">
										<option th:each="ano : ${anos}" th:value="${ano}">[[${ano}]]</option>
									</select><br>
									
									<button class="btn btn-primary" name="acao" value="view" type="submit">Visualizar</button>
									<button class="btn btn-primary" name="acao" value="download" type="submit">Baixar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</main>
			
			
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<!-- Modal de confirmação de exclusão -->
	<div class="modal fade" id="confirmacaoExclusao" tabindex="-1" role="dialog" aria-labelledby="confirmacaoExclusaoLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="confirmacaoExclusaoLabel">Confirmação de Exclusão</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Tenha em mente que a exclusão desta transação alterará seu saldo atual. Deseja continuar?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-danger" onclick="redirecionar()">Sim, excluir</button>
				</div>
			</div>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>