<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.ico">
	
	<script src="/js/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
	<script src="/js/jquery.maskMoney.js" type="text/javascript"></script>
	
	<title>Usuários cadastrados - Admin</title>
	
	<th:block th:insert="includes/include.html :: #head"></th:block>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>

			<main class="main-content bgc-grey-100">
			<div id="mainContent">
				
				<div class="row gap-20 masonry pos-r">
					<div class="masonry-sizer col-md-6"></div>
					<div class="masonry-item col-md-12">
						<div class="bgc-white p-20 bd">
							<h6 class="c-grey-900">Usuários cadastrados</h6>
							<div class="table-responsive mT-30">
								<table class="table table-hover table-bordered">
									<thead>
										<tr>
											<th>Nome</th>
											<th>Sobrenome</th>
											<th>E-mail</th>
											<th>Ativado</th>
											<th>Permissão</th>
											<th>Provedor</th>
											<th>Foto</th>
											<th>Registro Data</th>
											<th>Registro IP</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${usuarios.size() > 0}" th:each="usuario: ${usuarios}">
											<td th:text="${usuario.nome}"></td>
											<td th:text="${usuario.sobrenome}"></td>
											<td th:text="${usuario.email}"></td>
											<td th:text="${usuario.ativado ? 'Sim' : 'Não'}"></td>
											<td th:text="${usuario.permissao}"></td>
											<td th:text="${usuario.provedor.valor}"></td>
											
											<td>
												<a th:href="${usuario.provedor.name() == 'LOCAL' ? '/view/'+usuario.foto.id : usuario.foto.link}" target="_blank">
													Abrir em nova guia <img src="http://img.icons8.com/ios-glyphs/30/000000/external-link.png" width="13" style="margin-bottom: 8px">
													
												</a>
												<span th:if="${usuario.foto == null}" class="font-italic" style="color:#72777a">Nenhuma</span>
											</td>
											
											<td th:text="${#temporals.format(usuario.registroData, 'dd/MM/yyyy HH:mm:ss')}"></td>
											<td th:text="${usuario.registroIp}"></td>
										</tr>
										<tr th:if="${usuarios.size() == 0}" class="font-italic">
											<td colspan="5">Nenhum usuário encontrado</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			</main>



			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>