<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Título</title>
</head>
<body>
	Adicionar Transação<br>
	<form method="post">
		<select name="categoria_id">
			<option th:each="cat : ${categorias}" th:text="${cat.nome}" th:value="${cat.id}"></option>
		</select><br>
		<select name="tipo">
			<option value="RECEITA">RECEITA</option>
			<option value="DESPESA">DESPESA</option>
			<option value="COFRE">COFRE</option>
		</select><br>
		<input type="text" name="descricao" placeholder="descricao"><br>
		<input type="number" name="valor" placeholder="valor"><br>
		
		<input type="submit" value="Adicionar">
	</form>
</body>
</html>