<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Categorias</title>
</head>
<body>
	Categorias (tabela: usuario_categorias)<br>
	<table border="1">
		<thead>
			<th>ID</th>
			<th>Usuário</th>
			<th>Nome</th>
			<th>Tipo Transação</th>
			<th>Data Criação</th>
		</thead>
		<tbody>
			<tr th:each="categoria : ${categorias}">
				<td>[[${categoria.id}]]</td>
				<td>[[${categoria.usuario.nome}]] ([[${categoria.usuario.id}]])</td>
				<td>[[${categoria.nome}]]</td>
				<td>[[${categoria.tipoTransacao}]]</td>
				<td>[[${#temporals.format(categoria.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
	<br>
	Categorias do Usuário (tabela: usuario_categorias)<br>
	<table border="1">
		<thead>
			<th>ID</th>
			<th>Usuário</th>
			<th>Nome</th>
			<th>Tipo Transação</th>
			<th>Data Criação</th>
		</thead>
		<tbody>
			<tr th:each="categoria : ${categoriasDoUsuario}">
				<td>[[${categoria.id}]]</td>
				<td>[[${categoria.usuario.nome}]] ([[${categoria.usuario.id}]])</td>
				<td>[[${categoria.nome}]]</td>
				<td>[[${categoria.tipoTransacao}]]</td>
				<td>[[${#temporals.format(categoria.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
