<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cofres</title>
</head>
<body>
	Extrato Cofres (tabela: transacoes)<br>
	<table border="1">
		<thead>
			<th>ID</th>
			<th>Usuário</th>
			<th>Categoria</th>
			<th>Tipo</th>
			<th>Descrição</th>
			<th>Valor</th>
			<th>Data</th>
		</thead>
		<tbody>
			<tr th:each="extrato : ${extratoCofres}">
				<td>[[${extrato.id}]]</td>
				<td>[[${extrato.usuario.nome}]] ([[${extrato.usuario.id}]])</td>
				<td>[[${extrato.categoria.nome}]] ([[${extrato.categoria.id}]])</td>
				<td>[[${extrato.tipo}]]</td>
				<td>[[${extrato.descricao}]]</td>
				<td>[[${extrato.valor}]]</td>
				<td>[[${#temporals.format(extrato.data, 'dd/MM/yyyy HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
	<br>
	Extrato Cofres do Usuário (tabela: transacoes)<br>
	<table border="1">
		<thead>
			<th>ID</th>
			<th>Usuário</th>
			<th>Categoria</th>
			<th>Tipo</th>
			<th>Descrição</th>
			<th>Valor</th>
			<th>Data</th>
		</thead>
		<tbody>
			<tr th:each="extrato : ${extratoCofresDoUsuario}">
				<td>[[${extrato.id}]]</td>
				<td>[[${extrato.usuario.nome}]] ([[${extrato.usuario.id}]])</td>
				<td>[[${extrato.categoria.nome}]] ([[${extrato.categoria.id}]])</td>
				<td>[[${extrato.tipo}]]</td>
				<td>[[${extrato.descricao}]]</td>
				<td>[[${extrato.valor}]]</td>
				<td>[[${#temporals.format(extrato.data, 'dd/MM/yyyy HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
	<br>
	Cofres do Usuário (tabela: <span style="font-style: italic;">nenhuma</span>)<br>
	<table border="1">
		<thead>
			<th>Descrição do Cofre</th>
			<th>Total acumulado</th>
			<th>Data de Criação</th>
		</thead>
		<tbody>
			<tr th:each="cofre : ${cofres}">
				<td>[[${cofre.descricao}]]</td>
				<td>[[${cofre.totalAcumulado}]]</td>
				<td>[[${#temporals.format(cofre.dataCriacao, 'dd/MM/yyyy HH:mm:ss')}]]</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
