<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Ativação da Conta | Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<th:block th:insert="includes/include.html :: #headDeslogado"></th:block>

	<style type="text/css">
		.col-8 {
			padding-right: 0px;
		}
		.col-4 {
			padding-left: 0px;
		}
		#inputCodigoConfirmacao {
			border-top-right-radius: 0; border-bottom-right-radius: 0;
		}
		#btnValidar {
			border-top-left-radius: 0; border-bottom-left-radius: 0;
			height: 50px;
		}
	</style>

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Ativação da Conta</h1>
		</div>

		<p class="text-center" th:if="${!#strings.isEmpty(msgErro)}">
			[[${msgErro}]]<br><br>
			<a href="/">« Voltar ao início</a>
		</p>
		<p class="text-center" th:if="${sucesso}">
			Sua conta foi ativada com sucesso!
			<br><br>
			<a href="/entrar">« Acessar conta</a>
		</p>
	</div>
</body>
</html>
