<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Cadastrar-se | Projeto Finanças</title>

	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="/js/google-login.js"></script>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.fa {
			font-size: 15pt;
			margin-right: 10px;
		}
	</style>

	<style type="text/css">
		.btn-danger {
			min-width: 250px;
		}
	</style>

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function desativar(field) {
			field.disabled = true;
		}
	</script>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;" alt="Logo do site"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Cadastrar-se</h1>
		</div>

		<!-- Redes Sociais -->
		<div class="text-center align-middle">
			<!-- Google -->
			<button class="btn btn-google btn-rounded" onclick="location.href='/oauth2/authorize/google'" style="margin-bottom: 10px">
				<span class="fa fa-google"></span> Entrar com o Google
			</button>
			
			<!-- Facebook -->
			<button class="btn btn-facebook btn-rounded" onclick="location.href='/oauth2/authorize/facebook'" style="margin-bottom: 10px">
				<span class="fa fa-facebook"></span> Entrar com o Facebook
			</button>
			
			<!-- GitHub -->
			<button class="btn btn-github btn-rounded" onclick="location.href='/oauth2/authorize/github'">
				<span class="fa fa-github"></span> Entrar com o GitHub
			</button>
		</div>
		<!-- ============= -->

		<div class="separator">
			<span class="separator__line"></span>
			<span class="separator__text">ou</span>
			<span class="separator__line"></span>
		</div>
			
		<form th:object="${usuario}" th:action="@{/cadastrar}" method="POST" onsubmit="desativar(this.registrar)">
			<div class="alert alert-danger" th:if="${#fields.hasErrors()}">
				<th:block th:each="erro : ${#fields.allErrors()}">[[${erro}]]<br></th:block>
			</div>
			<div class="alert alert-success" th:if="${!#strings.isEmpty(msgSucesso)}">
				<th:block>[[${msgSucesso}]]<br></th:block>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<div class="form-label-group">
						<input type="text" id="nome" th:field="*{nome}" class="form-control" placeholder="Nome" required autofocus>
						<label for="nome">Nome</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-label-group">
						<input type="text" id="sobrenome" th:field="*{sobrenome}" class="form-control" placeholder="Sobrenome" required>
						<label for="sobrenome">Sobrenome</label>
					</div>
				</div>
			</div>
			<div class="form-label-group">
				<input type="email" id="email" th:field="*{email}" class="form-control" placeholder="E-mail" required>
				<label for="email">E-mail</label>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-label-group">
						<input type="password" id="senha" th:field="*{senha}" class="form-control" placeholder="Senha" required>
						<label for="senha">Senha</label>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-label-group">
						<input type="password" id="senha_repetida" th:field="*{senhaRepetida}" class="form-control" placeholder="Senha (repita)" required>
						<label for="senha_repetida">Senha (repita)</label>
					</div>
				</div>
			</div>

			<div class="checkbox mb-3">
				<div class="row">
					<div class="col-7">
						<label>
							<input type="checkbox" value="termos" required> Li e aceito os 
							<a href="#" data-toggle="modal" data-target="#modalTermos">termos de uso</a>.
						</label>
					</div>
					<div class="col-5 text-right">
						<p class="ml-1">ou <a href="entrar">Acessar conta</a></p>
					</div>
				</div>
			</div>
			
			<button class="btn btn-lg btn-success btn-rounded btn-block" type="submit" name="registrar">Registrar</button>
		</form>

		<!--
		<p class="mt-5 text-muted text-center">&copy; 2019 Projeto Finanças</p>
		-->
	</div>

	<!-- Modal -->
	<div class="modal fade bd-example-modal-lg" id="modalTermos" tabindex="-1" role="dialog" aria-labelledby="modalTermos" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalTermos">Termos de uso</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
