<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,shrink-to-fit=no">
<link rel="icon" href="/img/favicon.ico">

<title>Cofres</title>

<th:block th:insert="includes/include.html :: #head"></th:block>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>

			<main class="main-content bgc-grey-100">
			<div id="mainContent">
				
				<div class="row gap-20 masonry pos-r">
					<div class="masonry-sizer col-md-6"></div>
					<div class="masonry-item col-md-12">
						<div class="bgc-white p-20 bd">
							<h6 class="c-grey-900">Seus cofres</h6>
							<div class="mT-30">
								<div th:if="${!#strings.isEmpty(msgErroExcluir)}"
									class="alert alert-danger alert-dismissible fade show"
									role="alert">
									[[${msgErroExcluir}]]
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div th:if="${!#strings.isEmpty(msgSucessoExcluir)}"
									class="alert alert-success alert-dismissible fade show"
									role="alert">
									[[${msgSucessoExcluir}]]
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<table class="table table-hover table-bordered">
									<thead>
										<tr>
											<th>Nome do Cofre</th>
											<th>Total acumulado</th>
											<th>Data de Criação</th>
											<th scope="col" colspan="2">Ações</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${listaCofres.size() > 0}" th:each="cofres: ${listaCofres}">
											<td th:text="${cofres.descricao}"></td>
											<td th:text="${cofres.totalDesejado}"></td>
											<td
												th:text="${#temporals.format(cofres.dataCriacao, 'dd/MM/yyyy')}"></td>
											<td><a th:href="@{/cofres/editar(id=${cofres.id})}"
												class="btn btn-outline-primary">Editar</a></td>
											<td><a th:href="@{/cofres/excluir(id=${cofres.id})}"
												class="btn btn-sm btn-outline-danger">Excluir</a></td>
										</tr>
										<tr th:if="${listaCofres.size() == 0}" class="font-italic">
											<td colspan="4">Nenhum cofre cadastrado</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="masonry-item col-md-12">
						<div class="bgc-white p-20 bd">
							<h6 class="c-grey-900">Adicionar cofre</h6>
							<div class="mT-30">
							<div th:if="${!#strings.isEmpty(msgSucessoAdd)}" class="alert alert-success alert-dismissible fade show" role="alert">
									[[${msgSucessoAdd}]]
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div th:if="${!#strings.isEmpty(msgErroAdd)}" class="alert alert-danger alert-dismissible fade show" role="alert">
								[[${msgErroAdd}]]
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<form class="container" th:object="${cofre}"
									th:action="@{/cofres/cadastrar}" method="post"
									id="needs-validation" novalidate>
									<div class="row">
										<div class="col-md-6 mb-3">
											<input type="hidden" th:field="*{id}"> <label
												for="validationCustom01">Nome do Cofre</label> <input
												type="text" th:field="*{descricao}" class="form-control"
												id="validationCustom01" placeholder="Nome do cofre..."
												required>
											<div class="invalid-feedback">Insira um nome para o
												cofre</div>
										</div>
										<div class="col-md-6 mb-3">
											<label for="validationCustom02">Total Desejado </label> <input
												type="number" class="form-control"
												th:field="*{totalDesejado}" id="validationCustom02"
												placeholder="Total Desejado...">
										</div>
									</div>
									<button class="btn btn-primary" type="submit">Adicionar
										cofre</button>
								</form>
								<script>
										!function() {
											"use strict";
											window.addEventListener("load", function() {
												var e=document.getElementById("needs-validation");
												e.addEventListener("submit", function(t) {
													!1===e.checkValidity() && (t.preventDefault(), t.stopPropagation()), e.classList.add("was-validated")
												}, !1)
											}, !1)
										}()
									</script>
							</div>
						</div>
					</div>
				</div>
			</div>
			</main>



			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>