<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.ico">

	<title>Configurações</title>

	<th:block th:insert="includes/include.html :: #head"></th:block>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>
			
			<main class="main-content bgc-grey-100">
				<div id="mainContent">
					<div class="row masonry pos-r">
						<div class="masonry-sizer col-md-6"></div>
						<div class="masonry-item col-md-12">
							<div class="bgc-white p-20 bd">
								<h6 class="c-grey-900">Configurações</h6>
								<div th:if="${!#strings.isEmpty(msgSucessoConfig)}" class="alert alert-success alert-dismissible fade show" role="alert">
									[[${msgSucessoConfig}]]
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div th:if="${!#strings.isEmpty(msgErroConfig)}" class="alert alert-danger alert-dismissible fade show" role="alert">
									[[${msgErroConfig}]]
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								
								<div class="row">
									<div class="col-sm-4">
										<div class="list-group" id="lista" role="tablist">
											<a th:if="${isProvedorLocal}" th:class="|list-group-item list-group-item-action${alvoLista == 'perfil' || alvoLista == null ? ' active': ''}|" id="perfil-list" data-toggle="list" href="#perfil" role="tab" aria-controls="perfil">Perfil</a>
											<a th:if="${isProvedorLocal}" th:class="|list-group-item list-group-item-action${alvoLista == 'senha' ? ' active': ''}|" id="senha-list" data-toggle="list" href="#senha" role="tab" aria-controls="senha">Senha</a>
											<a th:class="|list-group-item list-group-item-action${alvoLista == 'notificacoes' || isProvedorLocal == false ? ' active': ''}|" id="notificacoes-list" data-toggle="list" href="#notificacoes" role="tab" aria-controls="notificacoes">Notificações</a>
											<a th:class="|list-group-item list-group-item-action${alvoLista == 'privacidade' ? ' active': ''}|" id="privacidade-list" data-toggle="list" href="#privacidade" role="tab" aria-controls="privacidade">Privacidade</a>
										</div>
									</div>
									<div class="col-sm-8">
										<div class="tab-content" id="nav-tabContent">
											<div th:if="${isProvedorLocal}" th:class="|tab-pane fade pY-10 pX-10${alvoLista == 'perfil' || alvoLista == null ? ' show active': ''}|" id="perfil" role="tabpanel" aria-labelledby="perfil-list">
												<form id="needs-validation1" th:object="${usuario}" th:action="@{/configuracoes/perfil}" method="post" novalidate enctype="multipart/form-data">
													<div class="row">
														<div class="col-sm-6">
															<div class="form-group">
																<label for="nome" class="text-normal text-dark">Nome</label>
																<input type="text" th:field="*{nome}" class="form-control" placeholder="Nome..." required>
																<div class="invalid-feedback">Insira um nome</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group">
																<label for="sobrenome" class="text-normal text-dark">Sobrenome</label>
																<input type="text" th:field="*{sobrenome}" class="form-control" placeholder="Sobrenome..." required>
																<div class="invalid-feedback">Insira um sobrenome</div>
															</div>
														</div>
														<div class="col-sm-12">
															<div class="form-group">
																<label for="email" class="text-normal text-dark">E-mail</label>
																<input type="text" th:field="*{email}" class="form-control" placeholder="E-mail..." required>
																<div class="invalid-feedback">Insira um e-mail</div>
															</div>
														</div>
														<div class="col-sm-12">
															<div class="form-group">
																<label for="foto" class="text-normal text-dark">Foto</label>
																<input type="file" id="foto" name="fotoUser"  >
															</div>
														</div>
														
														<div class="col-sm-12">
															<div class="form-group d-flex justify-content-center">
																<button type="submit" class="btn btn-primary">Salvar alterações</button>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div th:if="${isProvedorLocal}" th:class="|tab-pane fade pY-10 pX-10${alvoLista == 'senha' ? ' show active': ''}|" id="senha" role="tabpanel" aria-labelledby="senha-list">
												<form id="needs-validation2" th:object="${usuario}" th:action="@{/configuracoes/senha}" method="post" novalidate>
													<div class="row">
														<div class="col-sm-12">
															<div class="form-group">
																<label for="senhaAtual" class="text-normal text-dark">Senha atual</label>
																<input type="password" id="senhaAtual" name="senhaAtual" class="form-control" placeholder="Senha atual..." required>
																<div class="invalid-feedback">Insira a senha atual</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group">
																<label for="novaSenha" class="text-normal text-dark">Nova senha</label>
																<input type="password" id="novaSenha" name="novaSenha" class="form-control" placeholder="Nova senha..." required>
																<div class="invalid-feedback">Insira a nova senha</div>
															</div>
														</div>
														<div class="col-sm-6">
															<div class="form-group">
																<label for="novaSenhaRepetida" class="text-normal text-dark">Nova senha (repita)</label>
																<input type="password" id="novaSenhaRepetida" name="novaSenhaRepetida" class="form-control" placeholder="Repita a nova senha..." required>
																<div class="invalid-feedback">Por favor, repita a nova senha</div>
															</div>
														</div>
														
														<div class="col-sm-12">
															<div class="form-group d-flex justify-content-center">
																<button type="submit" class="btn btn-primary">Salvar alterações</button>
															</div>
														</div>
													</div>
												</form>
											</div>
											<div th:class="|tab-pane fade pY-10 pX-10${alvoLista == 'notificacoes' || isProvedorLocal == false ? ' show active': ''}|" id="notificacoes" role="tabpanel" aria-labelledby="notificacoes-list">
												<input type="checkbox" id="receberNotificacoes">
												<label for="receberNotificacoes">Receber notificações</label>
											</div>
											<div th:class="|tab-pane fade pY-10 pX-10${alvoLista == 'privacidade' ? ' show active': ''}|" id="privacidade" role="tabpanel" aria-labelledby="privacidade-list">
												Privacidade...
											</div>
										</div>
									</div>
								</div>
							
								<script>
									!function() {
										"use strict";
										window.addEventListener("load", function() {
											var e1=document.getElementById("needs-validation1");
											var e2=document.getElementById("needs-validation2");
											e1.addEventListener("submit", function(t) {
												!1===e1.checkValidity() && (t.preventDefault(), t.stopPropagation()), e1.classList.add("was-validated")
											}, !1)
											e2.addEventListener("submit", function(t) {
												!1===e2.checkValidity() && (t.preventDefault(), t.stopPropagation()), e2.classList.add("was-validated")
											}, !1)
										}, !1)
									}()
								</script>
							</div>
						</div>
					</div>
				</div>
			</main>
			
			
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>