<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.ico">

	<title>Adicionar Despesa</title>

	<th:block th:insert="includes/include.html :: #head"></th:block>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>
			
			<main class="main-content bgc-grey-100">
				<div id="mainContent">
					<div class="d-flex justify-content-center">
						<div class="col-5 peer pX-40 pY-40 h-100 bgc-white scrollable pos-r bd" style="min-width:320px">
							<h2 style="color: #2196f3" class="text-center">Adicionar Despesa</h2><br>
							<div th:if="${!#strings.isEmpty(msgSucessoAdd)}" class="alert alert-success alert-dismissible fade show" role="alert">
								[[${msgSucessoAdd}]]
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div th:if="${!#strings.isEmpty(msgErroAdd)}" class="alert alert-danger alert-dismissible fade show" role="alert">
								[[${msgErroAdd}]]
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form id="needs-validation" th:object="${despesa}" th:action="@{/despesas/adicionar}" method="post" novalidate>
								<div class="form-group">
									<label class="text-normal text-dark">Categoria</label> - <a href="/despesas/categorias">Adicionar Categoria</a>
									<select th:field="*{categoria}" class="form-control" required>
										<option value="">Selecione...</option>
										<option th:if="${!#lists.isEmpty(categorias)}" th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
									</select>
									<div class="invalid-feedback">Selecione uma categoria</div>
								</div>
								<div class="form-group">
									<label class="text-normal text-dark">Descrição</label>
									<input type="text" th:field="*{descricao}" class="form-control" placeholder="Descrição..." required>
									<div class="invalid-feedback">Insira uma descrição</div>
								</div>
								<div class="form-group">
									<label class="text-normal text-dark">Valor</label>
									<input type="number" th:field="*{valor}" class="form-control" placeholder="Valor..." required>
									<div class="invalid-feedback">Insira um valor</div>
								</div>
								<div class="form-group d-flex justify-content-center">
									<button class="btn btn-primary">Adicionar</button>
								</div>
							</form>
							<script>
								!function() {
									"use strict";
									window.addEventListener("load", function() {
										var e=document.getElementById("needs-validation");
										e.addEventListener("submit", function(t) {
											!1===e.checkValidity() && (t.preventDefault(), t.stopPropagation()), e.classList.add("was-validated")
										}, !1)
									}, !1)
								}()
							</script>
						</div>
					</div>
				</div>
			</main>
			
			
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>