<!DOCTYPE html>
<html>
	<!-- SE o usuario estiver logado redireciona para a pagina Home -->
	
	<head>
		<meta charset="utf-8">
		<title>Entrar | <th:block th:insert="includes/include.html :: site_titulo"></th:block></title>
		<th:block th:insert="includes/include.html :: #head"></th:block>
	</head>

	<body class="text-center">
		<form class="principal form-entrar" method="POST">
			<h1 class="mt-2 h3 mb-3 font-weight-normal">Acessar conta</h1>
			
			<!-- verifica se existe alguma mensagem de erro -->
			<div th:if="${!#strings.isEmpty(msgErro)}" class="text-erro mb-2">
				[[${msgErro}]]
			</div>

			<input type="email" id="inputEmail" class="form-control" name="email" placeholder="E-mail" required autofocus>
			<input type="password" id="inputPassword" class="form-control" name="senha" placeholder="Senha" required autocomplete="off">
			<button class="btn btn-lg btn-primary btn-block" type="submit" name="entrar">Entrar</button>

			<p class="mt-1 text-muted text-left">ou <a href="registrar">Registre-se</a></p>
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</form>
	</body>
</html>
