<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Entrar | Projeto Finanças</title>

	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="/js/google-login.js?2"></script>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.fa {
			font-size: 15pt;
			margin-right: 10px;
		}
	</style>

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		function desativar(field) {
			field.disabled = true;
		}
	</script>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Acessar conta</h1>
		</div>

		<!-- Redes Sociais -->
		<div class="text-center align-middle">
			<!-- Google -->
			<button class="btn btn-google btn-rounded" onclick="location.href='/oauth2/authorize/google'" style="margin-bottom: 10px">
				<span class="fa fa-google"></span> Entrar com o Google
			</button>
			
			<!-- Facebook -->
			<button class="btn btn-facebook btn-rounded" onclick="location.href='/oauth2/authorize/facebook'" style="margin-bottom: 10px">
				<span class="fa fa-facebook"></span> Entrar com o Facebook
			</button>
			
			<!-- GitHub -->
			<button class="btn btn-github btn-rounded" onclick="location.href='/oauth2/authorize/github'">
				<span class="fa fa-github"></span> Entrar com o GitHub
			</button>
		</div>
		<!-- ============= -->

		<div class="separator">
			<span class="separator__line"></span>
			<span class="separator__text">ou</span>
			<span class="separator__line"></span>
		</div>
		
		<div th:if="${!#strings.isEmpty(msgErro)}" class="alert alert-danger">
			[[${msgErro}]]
		</div>
		<div th:if="${!#strings.isEmpty(msgSucesso)}" class="alert alert-success">
			[[${msgSucesso}]]
		</div>
		<div th:if="${isDesativado}" class="alert alert-warning">
			Verifique seu e-mail para <a href="#" data-toggle="modal" data-target="#modalAtivacao"><sup><span class="icon-size"><i class="fas fa-info"></i></span></sup>ativar sua conta</a>.
		</div>
			
		<form th:action="@{/entrar}" method="POST" onsubmit="desativar(this.entrar)">
			<input type="hidden" name="destino" th:if="${!#strings.isEmpty(param.destino)}" th:value="${param.destino}">
			<div class="form-label-group">
				<input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
				<label for="email">E-mail</label>
			</div>
			<div class="form-label-group">
				<input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
				<label for="senha">Senha</label>
			</div>

			<div class="checkbox mb-3">
				<div class="row">
					<div class="col-6">
						<label>
							<input type="checkbox" value="lembrar-me"> Lembrar-me
						</label>
					</div>
					<div class="col-6 text-right">
						<p class="ml-1"><a href="/recuperar-senha">Esqueceu a senha?</a></p>
					</div>
				</div>
			</div>
			
			<button class="btn btn-lg btn-success btn-rounded btn-block" type="submit" name="entrar">Entrar</button>
		</form>

		<p class="mt-4 text-muted text-center">Ainda não tem uma conta? <a href="/cadastrar">Crie uma agora mesmo</a>.</p>
	</div>
	
	
	<!-- Modal -->
	<div th:if="${isDesativado == true || reenviado == true}" class="modal fade bd-example-modal-lg" id="modalAtivacao" tabindex="-1" role="dialog" aria-labelledby="modalAtivacao" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAtivacao">Ativação da Conta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Enviamos um link de ativação para o seu e-mail. Caso não ache, por favor, verifique sua caixa de spam.
				</div>
				<div class="modal-footer">
					<form action="/reenviar-link-ativacao" method="post" onsubmit="desativar(this.btnReenviar)">
						<button type="submit" class="btn btn-primary" name="btnReenviar">Reenviar link de ativação</button>
					</form>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
