<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<!-- Bootstrap CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/index.css" rel="stylesheet">
</head>
<body class="text-center">
	<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
		<header class="masthead mb-auto">
			<div class="inner">
				<a href="/"><h3 class="masthead-brand"><img src="/img/logo_40x40.png" style="margin-top: -6px;" alt="Logo do site"> Finanças</h3></a>
				<nav class="nav nav-masthead justify-content-center">
					<a class="nav-link active" href="/">Home</a>
					<a class="nav-link" href="entrar">Acesse sua conta</a>
				</nav>
			</div>
		</header>

		<main role="main" class="inner cover" style="text-shadow: 0px 0px 4px rgba(0,0,0,1);
													background-color: rgba(0,0,0,0.5);
												    border-radius: 20px;
												    padding: 20px;
												    box-shadow: 0px 0px 70px rgba(0,0,0,0.4);">
			<h1 class="cover-heading">Organize o seu dinheiro.</h1>
			<p class="lead">Com diversas funcionalidades de gerenciamento o Projeto Finanças é o melhor lugar para você gerenciar o seu dinheiro.</p>
			<p class="lead">
				<a href="cadastrar" class="btn btn-lg btn-success">Criar uma conta</a>
			</p>
		</main>

		<footer class="mastfoot mt-auto">
			<!--
			<div class="inner">
				<p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
			</div>
			-->
		</footer>
	</div>

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-3.3.1.slim.min.js"><\/script>')</script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
