<!DOCTYPE html>
<html>
	<!-- SE o usuario estiver logado redireciona para a pagina Home -->
	
	<head>
		<meta charset="utf-8">
		<title>Index | <th:block th:insert="includes/include.html :: site_titulo"></th:block></title>
		<th:block th:insert="includes/include.html :: #head"></th:block>
	</head>

	<body class="text-center">
		<div class="principal">
			<h1 class="mt-2 h3 mb-3 font-weight-normal">Olá</h1>
			
			<div class="text-erro mb-2">
				<!-- msg(s) de erro -->
			</div>
			<div class="text-sucesso mb-2">
				<!-- msg de "fez logoff" -->
			</div>
			
			<div class="row">
				<div class="col-md">
					<a class="btn btn-lg btn-primary btn-block" href="entrar">Entrar</a>
				</div>
				<div class="col-md">
					<a class="btn btn-lg btn-primary btn-block" href="registrar">Registrar</a>
				</div>
			</div>
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</body>
</html>
