<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<link rel="icon" href="/img/favicon.ico">

	<title>Lista de Movimentos</title>

	<th:block th:insert="includes/include.html :: #head"></th:block>
</head>
<body class="app">
	<div id="loader">
		<div class="spinner"></div>
	</div>
	<script>
		window.addEventListener('load', function load() {
			const loader = document.getElementById('loader');
			setTimeout(function() {
				loader.classList.add('fadeOut');
			}, 300);
		});
	</script>
	<div>
		<th:block th:insert="includes/include.html :: menuLateral"></th:block>
		<div class="page-container">
			<th:block th:insert="includes/include.html :: menuSuperior"></th:block>
			
			
			
			<main class="main-content bgc-grey-100">
				<div id="mainContent">
				
				<div th:if="${!#strings.isEmpty(msgSucessoExcluir)}" class="alert alert-success alert-dismissible fade show" role="alert">
									[[${msgSucessoExcluir}]]
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
				
				
				
				</div>
				
				
				
				
				
				
					<div class="bgc-light-green-500 c-white p-20">
						<div class="peers ai-c jc-sb">
							<div class="peer peer-greed">
								<h5>Lista de Movimentos</h5>
<!-- 								<p class="mB-0">Movimentos</p> -->
							</div>
							<div class="peer">
								<h3 class="text-right">[[|R$ ${#numbers.formatDecimal(saldoAtual, 1, 'POINT', 2, 'COMMA')}|]]</h3>
							</div>
						</div>
					</div>
					<div>
						<div class="table-responsive">
							<table class="table table-hover table-bordered bgc-white">
								<thead>
									<tr>
										<th class="bdwT-0">Tipo (Receita/Despesa)</th>
										<th class="bdwT-0">Categoria</th>
										<th class="bdwT-0">Valor</th>
										<th class="bdwT-0">Descrição</th>
										<th class="bdwT-0">Data/Hora</th>
										<th class="bdwT-0">Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each = "transacao : ${listatransacao}">
										<td class="fw-600" th:text = "${transacao.tipo}"></td>
										<td><span th:class= "|badge p-10 lh-0 tt-c badge-pill${transacao.tipo.name() == 'DESPESA' ? ' bgc-red-50' : ' bgc-green-50'}|"  th:text = "${transacao.categoria.nome}"></span></td>
										<td><span th:class="${transacao.tipo.name() == 'DESPESA' ? 'text-danger' : 'text-success'}" th:text = "|R$ ${#numbers.formatDecimal(transacao.valor, 1, 'POINT', 2, 'COMMA')}|"></span></td>
										
										<td th:if="${#strings.isEmpty(transacao.descricao)}" style="font-style: italic; color: #72777a">
											Vazia.
										</td>
										<td th:if="${!#strings.isEmpty(transacao.descricao)}" th:text="${transacao.descricao}"></td>
										
										<td th:text = "${#temporals.format(transacao.data, 'dd/MM/yyyy HH:mm:ss')}"></td>
										<td><a th:href="@{/movimentos/excluir(id=${transacao.id})}" class="btn btn-sm btn-outline-danger">Excluir</a></td>
									</tr>
									<tr th:if="${listatransacao.size() == 0}">
										<td colspan="5"><i>Nenhuma movimentação encontrada.</i></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bd bgc-white c-black p-20">
							<div class="peers ai-c jc-sb ">
								<div class="peer peer-greed">
									<p class="mb-0">Receitas</p>
									<p>Despesas</p>
									<h6 class="mb-0">Saldo Atual</h6>
								</div>
								<div class="peer">
									<p class="text-success mb-0">[[|R$ ${#numbers.formatDecimal(totalReceitas, 1, 'POINT', 2, 'COMMA')}|]]</p>
									<p class="text-danger">[[|R$ ${#numbers.formatDecimal(totalDespesas, 1, 'POINT', 2, 'COMMA')}|]]</p>
									<p class="text-info mb-0">[[|R$ ${#numbers.formatDecimal(saldoAtual, 1, 'POINT', 2, 'COMMA')}|]]</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			
			
			
			<th:block th:insert="includes/include.html :: footer"></th:block>
		</div>
	</div>

	<th:block th:insert="includes/include.html :: scripts"></th:block>
</body>
</html>