<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Recuperar Senha | Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;" alt="Logo do site"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Recuperar Senha</h1>
		</div>

		<p class="text-center">
			Se <b>[[${email}]]</b> corresponder ao e-mail de uma conta cadastrada um link para redefinição de senha será enviado em breve.
			<br><br>
			<a href="/entrar">« Voltar e acessar conta</a>
		</p>
	</div>
</body>
</html>
