<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Redefinir Senha | Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	<script type="text/javascript">
		function desativar(field) {
			field.disabled = true;
		}
	</script>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;" alt="Logo do site"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Redefinir Senha</h1>
		</div>
		
		<p class="text-center" th:if="${!#strings.isEmpty(msgErro)}">
			[[${msgErro}]]<br><br>
			<a href="/">« Voltar ao início</a>
		</p>
		
		<p class="text-center" th:if="${sucesso}">
			Sua senha foi redefinida com sucesso.<br><br>
			<a href="/entrar">« Acessar conta</a>
		</p>
		
		<th:block th:if="${#strings.isEmpty(msgErro) && #strings.isEmpty(sucesso)}">
			<p class="text-center">
				Insira abaixo sua nova senha.
			</p>
			
			<p class="text-center alert alert-danger" th:if="${!#strings.isEmpty(msgErroCampos)}">
				[[${msgErroCampos}]]
			</p>
			
			<form method="post" th:action="@{/redefinirSenha}" onsubmit="desativar(this.redefinir)">
				<input type="hidden" name="id" th:value="${param.id}">
				<input type="hidden" name="codigo" th:value="${param.codigo}">
				<div class="row mb-3">
					<div class="col-6">
						<div class="form-label-group">
							<input type="password" id="inputNovaSenha" name="novaSenha" class="form-control" placeholder="Nova senha" required autofocus>
							<label for="inputNovaSenha">Nova senha</label>
						</div>
					</div>
					<div class="col-6">
						<div class="form-label-group">
							<input type="password" id="inputNovaSenhaRepetida" name="novaSenhaRepetida" class="form-control" placeholder="Nova senha (repita)" required>
							<label for="inputNovaSenhaRepetida">Nova senha (repita)</label>
						</div>
					</div>
				</div>
	
				<button class="btn btn-lg btn-success btn-rounded btn-block" name="redefinir" type="submit">Redefinir senha</button>
			</form>
		</th:block>
	</div>
</body>
</html>
