<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Teste</title>
	<script type="text/javascript" src="/js/vendor.js"></script>
	<script type="text/javascript" src="/js/bundle.js"></script>
	<script type="text/javascript" src="https://www.chartjs.org/samples/latest/utils.js"></script>

<!-- 	<script type="text/javascript" src="/js/_chartsData.js"></script> -->
<!-- 	<script type="text/javascript" src="/js/_chartsConfig.js"></script> -->
</head>
<body>
	<div style="width: 50%">
<!-- 		<canvas id="chart-area-1" height="100"></canvas> -->
		<canvas id="chart-area-2" height="200" width="500"></canvas>
	</div>
	
	<script th:inline="javascript" type="text/javascript">
		/*<![CDATA[*/
		
		var config2 = {
			type: 'line',
			data: {
				labels: /*[[${meses}]]*/,
				datasets: [{
					label: 'Receitas',
					backgroundColor: 'rgba(75, 192, 192, 0.4)',
					borderColor: window.chartColors.blue,
					data: /*[[${receitas}]]*/,
					fill: "start",
				}, {
					label: 'Despesas',
					backgroundColor: 'rgba(255, 99, 132, 0.4)',
					borderColor: window.chartColors.red,
					data: /*[[${despesas}]]*/,
					fill: "start",
				}]
			},
			options: {
				responsive: true,
				title: {
					display: false,
					text: 'Chart.js Line Chart'
				},
				tooltips: {
					callbacks: {
						label: (tooltipItem, chart) => {
							var formatter = new Intl.NumberFormat("br", {
								style: "currency",
								currency: "BRL"
							});
							
							const realValue = chart.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toFixed(2);
							const valorFormatado = formatter.format(realValue);
							const label = chart.datasets[tooltipItem.datasetIndex].label + ': ';
							return label + valorFormatado;
						}
					}
				},
				hover: {
					mode: 'nearest',
					intersect: false
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Mês'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Valor'
						}
					}]
				}
			}
		};
	
		/*]]>*/
	</script>
	
	<script type="text/javascript">
		window.onload = function() {
// 			var ctx1 = document.getElementById('chart-area-1').getContext('2d');
// 			window.myPie = new Chart(ctx1, config1);

			var ctx2 = document.getElementById('chart-area-2').getContext('2d');
			window.myPie = new Chart(ctx2, config2);
		};
	</script>

	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="102770dbd46e0752700ce51d-|49" defer=""></script>
	<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/a2bd7673/cloudflare-static/rocket-loader.min.js" data-cf-settings="5c2d23da0d2980a677ad1eae-|49" defer=""></script>
</body>
</html>
