<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Entrar | Projeto Finanças</title>

	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="/js/google-login.js?2"></script>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<style type="text/css">
		.btn-danger {
			min-width: 250px;
		}
		.icon-size {
			font-size: 8pt;
			margin-left: 4px;
			margin-right: 2px;
		}
	</style>

	<script src="/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/fontawesome-all.min.js"></script>
		
	<script type="text/javascript">
		function desativar(field) {
			field.disabled = true;
		}
	</script>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Acessar conta</h1>
		</div>

		<!-- Redes Sociais -->
		<div class="text-center align-middle">
			<!--<button class="btn btn-facebook btn-rounded" onclick="">Entrar com Facebook</button><br><br>-->
			<div id="customBtn" style="height: 50px; width: 240px; margin: 0 auto;" class="abcRioButton abcRioButtonBlue">
				<div class="abcRioButtonContentWrapper">
					<div class="abcRioButtonIcon" style="padding:15px">
						<div style="width:18px;height:18px;" class="abcRioButtonSvgImageWithFallback abcRioButtonIconImage abcRioButtonIconImage18">
							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" viewBox="0 0 48 48" class="abcRioButtonSvg">
								<g>
									<path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
									<path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
									<path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
									<path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
									<path fill="none" d="M0 0h48v48H0z"></path>
								</g>
							</svg>
						</div>
					</div>
					<span style="font-size:16px;line-height:48px;" class="abcRioButtonContents">
						<span id="not_signed_in">Entrar com o Google</span>
					</span>
				</div>
			</div>
		</div>
		<!-- ============= -->

		<div class="separator">
			<span class="separator__line"></span>
			<span class="separator__text">ou</span>
			<span class="separator__line"></span>
		</div>
		
		<div th:if="${!#strings.isEmpty(msgErro)}" class="alert alert-danger">
			[[${msgErro}]]
		</div>
		<div th:if="${!#strings.isEmpty(msgSucesso)}" class="alert alert-success">
			[[${msgSucesso}]]
		</div>
		<div th:if="${isDesativado}" class="alert alert-warning">
			Verifique seu e-mail para <a href="#" data-toggle="modal" data-target="#modalAtivacao"><sup><span class="icon-size"><i class="fas fa-info"></i></span></sup>ativar sua conta</a>.
		</div>
			
		<form method="post">
			<div class="form-label-group">
				<input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
				<label for="email">E-mail</label>
			</div>
			<div class="form-label-group">
				<input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
				<label for="senha">Senha</label>
			</div>

			<div class="checkbox mb-3">
				<div class="row">
					<div class="col-6">
						<label>
							<input type="checkbox" value="lembrar-me"> Lembrar-me
						</label>
					</div>
					<div class="col-6 text-right">
						<p class="ml-1"><a href="/recuperar-senha">Esqueceu a senha?</a></p>
					</div>
				</div>
			</div>
			
			<button class="btn btn-lg btn-success btn-rounded btn-block" type="submit">Entrar</button>
		</form>

		<p class="mt-4 text-muted text-center">Ainda não tem uma conta? <a href="/cadastrar">Crie uma agora mesmo</a>.</p>
	</div>
	
	
	<!-- Modal -->
	<div th:if="${isDesativado == true || reenviado == true}" class="modal fade bd-example-modal-lg" id="modalAtivacao" tabindex="-1" role="dialog" aria-labelledby="modalAtivacao" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAtivacao">Ativação da Conta</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Enviamos um link de ativação para o seu e-mail. Caso não ache, por favor, verifique sua caixa de spam.
				</div>
				<div class="modal-footer">
					<form action="/reenviar-link-ativacao" method="post" onsubmit="desativar(this.btnReenviar)">
						<button type="submit" class="btn btn-primary" name="btnReenviar">Reenviar link de ativação</button>
					</form>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
