<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Recuperar Senha | Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

	<style type="text/css">
		.col-8 {
			padding-right: 0px;
		}
		.col-4 {
			padding-left: 0px;
		}
		#inputEmail {
			border-top-right-radius: 0; border-bottom-right-radius: 0;
		}
		#btnRecuperar {
			border-top-left-radius: 0; border-bottom-left-radius: 0;
			height: 50px;
		}
	</style>
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;"> Finanças</h3>
	</a>
	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Recuperar Senha</h1>
		</div>

		<p class="text-center">
			Insira o e-mail da sua conta abaixo. Em seguida, enviaremos para ele um link para redefinição de senha.
		</p>

		<form method="get" action="recuperar-senha/2">
			<div class="row">
				<div class="col-8">
					<div class="form-label-group">
						<input type="text" id="inputEmail" name="email" class="form-control" placeholder="E-mail" required autofocus>
						<label for="inputEmail">E-mail</label>
					</div>
				</div>
				<div class="col-4">
					<input type="submit" id="btnRecuperar" class="btn btn-lg btn-success btn-block" value="Recuperar">
				</div>
			</div>

			<p class="mt-1 text-muted text-left">ou <a href="entrar">Acessar conta</a></p>
		</form>
	</div>
</body>
</html>
