<!doctype html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/img/favicon.ico">

	<title>Redefinir Senha | Projeto Finanças</title>

	<link rel="canonical" href="http://localhost">

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/floating-labels.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
</head>

<body style="flex-direction: column">
	<a class="mb-2" style="color: #0bce00; text-decoration: none" href="/">
		<h3><img src="/img/logo_40x40.png" style="margin-top: -6px;"> Finanças</h3>
	</a>

	<div class="box mb-5">
		<div class="text-center mb-4">
			<h1 class="h3 font-weight-normal">Redefinir Senha</h1>
		</div>

		<p class="text-center">
			Insira abaixo sua nova senha.
		</p>
			
		<form method="post">
			<div class="row mb-3">
				<div class="col-6">
					<div class="form-label-group">
						<input type="password" id="inputSenha" name="senha" class="form-control" placeholder="Nova senha" required autofocus>
						<label for="inputSenha">Nova senha</label>
					</div>
				</div>
				<div class="col-6">
					<div class="form-label-group">
						<input type="password" id="inputSenhaRepetida" name="senhaRepetida" class="form-control" placeholder="Nova senha (repita)" required>
						<label for="inputSenhaRepetida">Nova senha (repita)</label>
					</div>
				</div>
			</div>

			<button class="btn btn-lg btn-success btn-rounded btn-block" type="submit">Alterar senha</button>
		</form>
	</div>
</body>
</html>
