<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<th:block id="head"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Projeto de finanças pessoais">
		<meta name="author" content="Jolteam">
		<link rel="icon" type="text/css" href="/img/e_icon.ico">
		
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
		
		<!-- Custom styles for this template -->
		<link rel="stylesheet" type="text/css" href="css/style.css?8"></th:block>
</head>
<body>
	<th:block th:fragment="site_titulo">Projeto Finanças</th:block>
	
	<th:block th:fragment="footer"><p class="mt-4 mb-0 text-muted">&copy; 2019 - Jolteam</p></th:block>
</body>
</html>
